<div class="main-screen">
  <div class="toolbar">
    <div class="record">
    </div>
    идет запись в режиме  {{mode}}
    <div class="btns">
      <div class="btns__item" >
        <img src="assets/icons/layout-full-off.svg" />
      </div>
      <div class="btns__item" (click)="setMode('top')">
        <img src="assets/icons/layout-top-off.svg" />
      </div>
      <div class="btns__item" (click)="setMode('side')">
        <img src="assets/icons/layout-side-off.svg" />
      </div>
    </div>
  </div>

  <div class="video-container">
      <div class="video-item video-main">
        <img src="assets/icons/faces/mem1.svg" />
      </div>
      <div class="video-list">
        <div class="video-item video-member">
          <img src="assets/icons/faces/mem2.svg" />
        </div>
        <div class="video-item video-member">
          <img src="assets/icons/faces/mem3.svg" />
        </div>
      </div>
  </div>

</div>

<router-outlet></router-outlet>